<ul class="list-group infinite-container">
    {% if user.is_authenticated %}
    {% if edit_mode %}
    <li class="card text-center">
        <p class="my-auto">New Comments not available in edit mode.</p>
    </li>
    {% else %}
    <li class="card">
        <form method="POST">
            {% csrf_token %}
            <div class="card-header text-center">
                <h5 class="m-0">New Comment</h5>
            </div>
            <div class="card-body p-0">
                {{ new_comment_form | safe}}
            </div>
            <div class="card-footer btn-group w-100 p-0">
                <button type="submit" class="btn btn-primary float-end">Post</button>
            </div>
        </form>
    </li>
    {% endif %}
    {% endif %}
    {% for comment in comments %}
    <li class="card infinite-item">
        <div class="row">
            <div class="col-2 text-center border-end comment-left p-2">
                <img src="{{ comment.author.profile.picture.url }}" alt="{{ comment.author }}'s Profile Picture"
                    class="w-50 rounded-circle">
                <p class="my-1">{{ comment.author }}</p>
                <p class="my-0">Posted {{ comment.created_on | timesince }} ago.</p>
            </div>
            <div class="col-10">
                {{ comment.content | safe }}
            </div>
        </div>
        <form class="container-fluid border-top btn-group remove-pm">
            {% csrf_token %}
            <a hx-post="{% url 'comment-like' comment.id %}" class="btn btn-primary">
                {% if user in comment.likes.all %}
                <i class="fas fa-heart"></i>
                {% else %}
                <i class="far fa-heart"></i>
                {% endif %}
                {{ comment.likes.count }}
            </a>
        </form>
    </li>
    {% endfor %}
</ul>