{% extends "base.html" %} {% block content %}

<form method="POST" class="col-12 col-md-6 mx-auto text-center card">
    {% csrf_token %}
    <div class="card-header">
        <h1>Contact Us</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                {{ contact_form.first_name }}
            </div>
            <div class="col">
                {{ contact_form.last_name }}
            </div>
        </div>
        <div class="row my-4">
            <div class="col">
                {{ contact_form.title }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ contact_form.email }}
            </div>
        </div>
        <div class="row my-4">'
            <div class="col">
                {{ contact_form.reason }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ contact_form.content }}
            </div>
        </div>
    </div>
    <div class="card-footer btn-group remove-pm">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% endblock %}