{% extends "base.html" %} {% block content %}

<!-- Main template container -->
<div class="row">
    <!-- Left column on large screens, visable column on small screens -->
    <form id="contact-col-left" method="POST" class="col-12 col-md-9 pe-0">
        {% csrf_token %}
        <!-- Contact Us form -->
        <div class="card text-center">
            <!-- Form header -->
            <div class="card-header">
                <h1>Contact Us</h1>
            </div>
            <!-- Form body - Name -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-floating">
                            {{ contact_form.first_name }}
                            <label for="{{ contact_form.first_name.auto_id }}">First Name*</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            {{ contact_form.last_name }}
                            <label for="{{ contact_form.last_name.auto_id">Last Name*</label>
                    </div>
                </div>
            </div>
            <!-- Form body - message title -->
            <div class="row my-4">
                <div class="col">
                    <div class="form-floating">
                    {{ contact_form.title }}
                        <label for=" {{ contact_form.title.auto_id">Short Title*</label>
                    </div>
                </div>
            </div>
            <!-- Form body - email address -->
            <div class="row">
                <div class="col">
                    <div class="form-floating">
                        {{ contact_form.email }} <label for=" {{ contact_form.email.auto_id">Email Address*</label>
                    </div>
                </div>
            </div>
            <!-- Form body - contact reason -->
            <div class="row my-4">
                <div class="col">
                    <div class="form-floating">
                        {{ contact_form.reason }} <label for=" {{ contact_form.reason.auto_id">Reason for Contact*</label>
                    </div>
                </div>
            </div>
            <!-- Form body - message content -->
            <div class="row">
                <div class="col">
                    <div class="form-floating">
                        {{ contact_form.content }} <label for=" {{ contact_form.content.auto_id">Your message*</label>
                    </div>
                </div>
            </div>
            </div>
            <!-- Form footer - Submit button -->
            <div class="card-footer btn-group remove-pm">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    <!-- Right column on large screens only -->
    <div class="col-3 d-none d-md-block">
        <!-- Include forum/userpanel.html template -->
        {% include "forum/userpanel.html" %}
    </div>
</div>

{% endblock %}