{% if user.is_authenticated %}
<form action="{% url 'post-edit' 'new-post' %}" method="GET" class="card">
    {% csrf_token %}
    <label class="card-header text-center">Create New Post As: {{ user }}</label>
    <div class="form-floating text-center">
        <input type="text" id="new-post-title" name="new-post-title" class="form-control" required
            placeholder="New Post Title">
        <label for="new-post-title">New Post Title*</label>
    </div>
    <button type="submit" class="btn btn-primary">Create New Post</button>
</form>
{% else %}
<div class="card">
    {% csrf_token %}
    <h4 class="card-header text-center">Sign In/Sign Up To Create A Post!</h4>
    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#site-modal"
        hx-get="{% url 'login' %}" hx-target="#site-modal-content">Login / Signup</button>
</div>
{% endif %}