{% if user.is_authenticated %}
<form action="#" method="POST" class="card rounded-corner">
    {% csrf_token %}
    <label for="" class="card-header text-center">Create New Post As: {{ user }}</label>
    <input type="text" placeholder="New Post Title" class="card-body text-center p-2 border-0" />
    <button type="submit" class="btn btn-primary">Create New Post</button>
</form>
{% else %}
<form class="card rounded-corner">
    {% csrf_token %}
    <h4 class="card-header text-center">Sign In/Sign Up To Create A Post!</h4>
    <button type="submit" class="btn btn-primary">Sign In/Sign Up</button>
</form>
{% endif %}