<form action="{% url 'delete-profile' %}" method="POST" class="text-dark">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Delete Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <h2>WARNING!</h2>
        <p class="card-text text-red">
            This will delete your profile, this action is irreversable!
        </p>
        <p class="card-text">
            All personal information will be deleted, Posts and Comments will not be deleted, if you would like these
            deleted, please delete them before deleing your profile.
        </p>
        <p class="card-text">Are you sure you wish to proceed?</p>
        <hr>
        <p class="card-text">Please enter your current password to continue.</p>
        <input type="password" name="confirm" class="form-control" placeholder="Current Password*" required>
    </div>
    <div class="modal-footer btn-group p-0">
        <button type="button" class="btn btn-warning m-0" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger m-0">Delete</button>
    </div>
</form>