<form method="GET" class="card">
    {% csrf_token %}
    <div class="card-header">
        <div class="text-center">
            <p class="card-text">Posts Found: {{ post_count }}</p>
        </div>
    </div>
    <div class="card-body">
        <button type="submit" class="btn btn-primary w-100">Filter Results</button>
    </div>
    <div class="card-body">
        <label for="{{ filters.categories.auto_id }}" class="h5 text-main">Categories:</label>
        {{ filters.categories }}
    </div>
    <div class="card-body">
        <label for="{{ filters.tags.auto_id }}" class="h5 text-main">Tags:</label>
        {{ filters.tags }}
    </div>
    {% if user.is_authenticated %}
    <div class="card-body">
        <h5>My Posts</h5>
        <div class="input-group mb-1">
            <div class="input-group-text">
                {{ filters.user_posts }}
            </div>
            <label class="input-group-text" for="{{ filters.user_posts.auto_id }}">
                My Posts
            </label>
        </div>
        <div class="input-group mb-1">
            <div class="input-group-text">
                {{ filters.followed_posts }}
            </div>
            <label class="input-group-text" for="{{ filters.followed_posts.auto_id }}">
                Followed Posts
            </label>
        </div>
        <div class="input-group">
            <div class="input-group-text">
                {{ filters.followed_categories }}
            </div>
            <label class="input-group-text" for="{{ filters.followed_categories.auto_id }}">
                Followed Categories
            </label>
        </div>
    </div>
    {% endif %}
    <div class="card-footer p-0">
        <a href="{% url 'index' %}" class="btn btn-danger w-100">Clear Filters</a>
    </div>
</form>