{% extends "base.html" %} {% block content %}

<div class="row">
    <div class="col-12 col-md-9 pe-0">
        <div class="card text-center">
            <div class="card-header">
                <h1>Help / Info</h1>
            </div>
            <div class="card-body p-0 text-dark">
                <div class="accordion accordion-flush" id="help-info-accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#help-info-rules">
                                Site Rules
                            </button>
                        </h2>
                        <div id="help-info-rules" class="accordion-collapse collapse"
                            data-bs-parent="#help-info-accordion">
                            <div class="accordion-body">
                                SITE RULES GO HERE
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#help-info-instructions">
                                Instructions
                            </button>
                        </h2>
                        <div id="help-info-instructions" class="accordion-collapse collapse"
                            data-bs-parent="#help-info-accordion">
                            <div class="accordion-body">
                                SITE INSTRUCTIONS GO HERE
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#help-info-help">
                                Help
                            </button>
                        </h2>
                        <div id="help-info-help" class="accordion-collapse collapse"
                            data-bs-parent="#help-info-accordion">
                            <div class="accordion-body">
                                HELP GOES HERE
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 col-md-0">
        {% include "forum/userpanel.html" %}
    </div>
</div>

{% endblock %}