{% extends "base.html" %} {% block content %}

<div class="container_fluid row">
    <div id="index-col-left" class="col-12 col-md-3 d-none d-md-block">
        {% include 'forum/filters.html' %}
    </div>
    <div class="col-12 col-md-6 gx-0">
        {% if user.is_authenticated %}
        <div class="card">
            <a href="{% url 'post-edit' 'new-post' %}" class="btn btn-primary">Create New Post As: {{ user }}</a>
        </div>
        {% else %}
        <div class="card">
            {% csrf_token %}
            <h4 class="card-header text-center">Sign In/Sign Up To Create A Post!</h4>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#site-modal"
                hx-get="{% url 'login' %}" hx-target="#site-modal-content">Login / Signup</button>
        </div>
        {% endif %}

        {% if filters.search.value != "" %}
        {% if filters.search.value %}
        <div class="card">
            <div class="card-header">
                <div class="text-center">
                    <p class="card-text">Search: {{ filters.search.value }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}

        <div class="card d-block d-md-none">
            <div class="card-header">
                <div class="text-center">
                    <p class="card-text">Posts Found: {{ post_count }}</p>
                </div>
            </div>
        </div>

        {% include "forum/postlist.html" %}
    </div>
    <div class="col-3 d-none d-md-block">
        {% include "forum/userpanel.html" %}
    </div>
</div>

{% endblock %}