{% extends "base.html" %} {% block content %}

{% if user.is_authenticated == False %}
<div class="modal fade" id="login-signup-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-corner">
            <div id="login-signup-container">

            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="container_fluid row">
    <div class="col-0 col-sm-2"></div>
    <div class="col-12 col-sm-8">
        {% include "forum/createnewpost.html" %}
        {% include "forum/postlist.html" %}
    </div>
    <div class="col-0 col-sm-2"></div>
</div>

{% endblock %}