{% extends "base.html" %} {% block content %}

<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-xl-4">
        <form method="POST" class="card rounded-corner text-center">
            {% csrf_token %}
            <div class="card-header">
                <h1>Password Reset</h1>
            </div>
            <div class="card-body">
                {{ password_form.old }}
                <hr>
                {{ password_form.new }}
                {{ password_form.confirm }}
            </div>
            <div class="card-footer btn-group p-0">
                <a href="{% url 'index' %}" class="btn btn-warning">Cancel</a>
                <button type="submit" class="btn btn-primary">Change</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}