{% extends "base.html" %} {% block content %}

<!-- Main Template Container -->
<div class="row">
    <!-- Left column, expanded to whole screen on small screens -->
    <div id="post-col-left" class="col-12 col-md-9 pe-0">
        <!-- New/Edit post form -->
        <form method="POST" class="card needs-validation" novalidate>
            {% csrf_token %}
            <!-- If edit mode, top section -->
            {% if edit_mode %}
            <div class="card-header post-header row g-0 px-2">
                <!-- Post form inputs -->
                <div class="col-10 col-md-11">
                    {{ post_form.title.errors }}
                    <div class="form-floating mb-2">
                        {{ post_form.title}}
                        <label for="{{ post_form.title.auto_id }}">Title*</label>
                    </div>
                    <div class="mb-2">
                        <label class="h6 ps-1 text-main" for="{{ post_form.category.auto_id }}">Category:</label>
                        {{ post_form.category.errors }}
                        {{ post_form.category }}
                    </div>
                    <div>
                        <label class="h6 ps-1 text-main" for="{{ post_form.tags.auto_id }}">Tags:</label>
                        {{ post_form.tags.errors }}
                        {{ post_form.tags }}
                    </div>
                </div>
                <!-- Return to view mode button -->
                <div class="col-2 col-md-1">
                    {% if post.author == user %}
                    {% if post.slug != "new-post" %}
                    <h2 class="d-inline-block float-end">
                        <a href="{% url 'post-view' post.slug %}" aria-label="Close"><i
                                class="fa-solid fa-xmark"></i></i></a>
                    </h2>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <!-- Post form content section -->
            <div class="card-body p-0">
                <label class="h6 ps-1 pt-2 text-main" for="{{ post_form.content.auto_id }}">Your post goes here:</label>
                {{ post_form.content.errors }}
                {{ post_form.content }}
            </div>
            <!-- Post form footer section - Submit, save as draft and cancel buttons -->
            <div class="card-footer row remove-pm">
                <div class="btn-group remove-pm">
                    <button type="submit" name="post-submit-draft" class="btn btn-primary"
                        aria-label="Save as Draft">Draft</button>
                    <a href="{{ request.META.HTTP_REFERER|escape }}" class="btn btn-warning"
                        aria-label="Discard">Discard</a>
                    <button type="submit" name="post-submit-post" class="btn btn-primary"
                        aria-label="Save as Post">Post</button>
                </div>
            </div>
            <!-- If view mode -->
            {% else %}
            <div class="card-header post-header row g-0 px-2">
                <!-- Post view header section -->
                <div class="col-10 col-md-11">
                    <h1 class="d-inline-block">
                        {{ post.title }}
                        {% if post.status == 0 %}
                        *(DRAFT)
                        {% endif %}
                    </h1>
                    <!-- Post view category - Also follow category button -->
                    <a hx-post="{% url 'category-follow' post.category.id %}" hx-target="#category-followed-p">
                        <p id="category-followed-p" class="list-group-item my-2 btn-info">
                            {% if post.category in user.profile.followed_categories.all %}
                            <i class="fa-solid fa-star text-red"></i>
                            {% endif %}
                            {{ post.category }}
                        </p>
                    </a>

                    <!-- Post tags list -->
                    {% for tag in post.tags.all %}
                    <p class="list-group-item d-inline-block mb-1">{{ tag }}</p>
                    {% endfor %}

                    <!-- Post title, appended with Draft if draft -->
                    <p class="float-end remove-pm py-2">
                        {% if post.status == 0 %}
                        - Draft
                        {% else %}
                        - Posted
                        {% endif %}
                        by: {{ post.author }} on: {{ post.created_on.date }}
                    </p>
                </div>
                <!-- Post edit button -->
                <div class="col-2 col-md-1">
                    {% if post.author == user %}
                    <h2 class="d-inline-block float-end">
                        <a href="{% url 'post-edit' post.slug %}" aria-label="Edit"><i
                                class="fa-solid fa-pen-to-square"></i></a>
                    </h2>
                    {% endif %}
                </div>
            </div>
            <!-- Post content -->
            <div class="card-body p-0">
                <div class="px-2">
                    <p class="card-text">{{ post.content | safe }}</p>
                </div>
            </div>
            <!-- Post footer - Comment count and delete, follow, like buttons -->
            <div class="card-footer row remove-pm">
                <div class="btn-group remove-pm">
                    <!-- Delete button -->
                    {% if post.author == user or user.is_staff %}
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#site-modal"
                        hx-get="{% url 'post-delete' post.slug %}" hx-target="#site-modal-content"
                        aria-label="Delete Post">
                        <i class="fa-solid fa-trash-can"></i></button>
                    {% endif %}
                    <!-- Comment count -->
                    <div class="btn btn-primary pe-none">
                        <i class="fa-solid fa-comments"></i>
                        {{ post.comments_count }}
                    </div>
                    <!-- Follow Post -->
                    <a hx-post="{% url 'post-follow' post.slug %}" class="btn btn-primary" aria-label="Follow Post">
                        {% if post in user.profile.followed_posts.all %}
                        <i class="fa-solid fa-star text-red"></i>
                        {% else %}
                        <i class="fa-regular fa-star"></i>
                        {% endif %}
                    </a>
                    <!-- Like Post -->
                    <a hx-post="{% url 'post-like' post.slug %}" class="btn btn-primary" aria-label="Like Post">
                        {% if user in post.likes.all %}
                        <i class="fas fa-heart text-red"></i>
                        {% else %}
                        <i class="far fa-heart"></i>
                        {% endif %}
                        {{ post.likes_count }}
                    </a>
                </div>
            </div>
            {% endif %}
        </form>
        <!-- Include forum/comments.html Template -->
        {% include "forum/comments.html" %}
    </div>
    <!-- Include forum/useranel.html Template -->
    <div class="col-3 d-none d-md-block">
        {% include "forum/userpanel.html" %}
    </div>
</div>

{% endblock %}