{% extends "base.html" %} {% block content %}

<div class="row">
    <div class="col-9 pe-0">
        <form method="POST" class="card">
            {% csrf_token %}
            <div class="card-header post-header">
                {% if edit_mode %}
                <h1 class="d-inline-block">{{ post_form.title }}</h1>
                {% else %}
                <h1 class="d-inline-block">{{ post.title }}</h1>
                {% endif %}

                {% if post.author == user %}
                {% if post.slug != "new-post" %}
                {% if edit_mode %}
                <h2 class="d-inline-block float-end">
                    <a href="{% url 'post-view' post.slug %}"><i class="fa-solid fa-xmark"></i></i></a>
                </h2>
                {% else %}
                <h2 class="d-inline-block float-end">
                    <a href="{% url 'post-edit' post.slug %}"><i class="fa-solid fa-pen-to-square"></i></a>
                </h2>
                {% endif %}
                {% endif %}
                {% endif %}

                {% if edit_mode %}
                <p class="mb-2">{{ post_form.category }}</p>
                {% else %}
                <a hx-post="{% url 'category-follow' post.category.id %}" hx-target="#category-followed-p">
                    <p id="category-followed-p" class="list-group-item my-2 btn-info">
                        {% if post.category in user.profile.followed_categories.all %}
                        <i class="fa-solid fa-star text-red"></i>
                        {% endif %}
                        {{ post.category }}
                    </p>
                </a>
                {% endif %}

                {% if edit_mode %}
                <p class="mb-0">{{ post_form.tags }}</p>
                {% else %}
                {% for tag in post.tags.all %}
                <p class="list-group-item d-inline-block mb-0">{{ tag }}</p>
                {% endfor %}
                <p class="float-end remove-pm py-2">- Posted by: {{ post.author }} on: {{ post.created_on.date }}</p>
                {% endif %}
            </div>
            <div class="card-body py-0">
                {% if edit_mode %}
                <p>
                    {{ post_form.content }}
                </p>
                {% else %}
                <p class="card-text">{{ post.content | safe }}</p>
                {% endif %}
            </div>
            <div class="card-footer row remove-pm">
                {% if edit_mode %}
                <div class="btn-group remove-pm">
                    <button type="submit" name="post-submit-draft" class="btn btn-primary">Save As Draft</button>
                    <a href="{{ request.META.HTTP_REFERER|escape }}" class="btn btn-warning">Discard</a>
                    <button type="submit" name="post-submit-post" class="btn btn-primary">Post To GOG</button>
                </div>
                {% else %}
                <div class="btn-group remove-pm">
                    <div class="btn btn-primary pe-none">
                        <i class="fa-solid fa-comments"></i>
                        {{ post.comments_count }}
                    </div>
                    <a hx-post="{% url 'post-follow' post.slug %}" class="btn btn-primary">
                        {% if post in user.profile.followed_posts.all %}
                        <i class="fa-solid fa-star text-red"></i>
                        {% else %}
                        <i class="fa-regular fa-star"></i>
                        {% endif %}
                    </a>
                    <a hx-post="{% url 'post-like' post.slug %}" class="btn btn-primary">
                        {% if user in post.likes.all %}
                        <i class="fas fa-heart text-red"></i>
                        {% else %}
                        <i class="far fa-heart"></i>
                        {% endif %}
                        {{ post.likes_count }}
                    </a>
                </div>
                {% endif %}
            </div>
        </form>
        {% include "forum/comments.html" %}
    </div>
    <div class="col-3">
        {% include "forum/userpanel.html" %}
    </div>
</div>

{% endblock %}