{% load static %}

<div class="infinite-container">
    {% for post in post_list %}
    <div class="card post-list-post infinite-item rounded-corner">
        <div class="card-header">
            <h4>{{ post.title }}</h4>
            <p>Category: {{ post.category }}</p>
            <p class="float-end">- Posted by: {{ post.author }} on: {{ post.created_on.date }}</p>
        </div>
        <div class="card-body post-list-body">
            <p class="card-text">{{ post.content | safe}}</p>
        </div>
        <div class="card-footer btn-group remove-pm">
            <div class="btn pe-none">
                <i class="fa-solid fa-comments"></i>
                {{ post.comments_count }}
            </div>
            <div class="btn pe-none">
                {{ post.likes_count }}
                {% if user in post.likes.all %}
                <i class="fas fa-heart"></i>
                {% else %}
                <i class="far fa-heart"></i>
                {% endif %}
            </div>
        </div>
        <a href="{% url 'post-view' post.slug %}" class="stretched-link"></a>
    </div>
    {% endfor %}
</div>