{% extends "base.html" %} {% block content %}

<div class="row">
    <div id="profile-col-left" class="col-12 col-md-9 pe-0">
        <form method="POST" class="card" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-header px-2">
                <h1 class="d-inline-block">{{ user }}</h1>

                {% if edit_mode %}
                <h2 class="d-inline-block float-end">
                    <a href="{% url 'profile' 'view' %}"><i class="fa-solid fa-xmark"></i></i></a>
                </h2>
                {% else %}
                <h2 class="d-inline-block float-end">
                    <a href="{% url 'profile' 'edit' %}"><i class="fa-solid fa-pen-to-square"></i></a>
                </h2>
                {% endif %}

                <p class="remove-pm py-2">Last Updated: {{ user.profile.updated_on  }}</p>
            </div>
            <div class="card-body p-2">
                {% if edit_mode %}
                <div class="row">
                    <div class="col-12 text-center mb-2">
                        <img class="profile-picture-preview rounded-circle border w-25 mb-2"
                            src="{{ user.profile.picture.url }}" alt="Profile Picture">
                        <div>
                            <label class="text-main" for="{{ profile_form.picture.auto_id">Profile Picture</label>
                            {{ profile_form.picture.errors }}
                            {{ profile_form.picture }}
                        </div>
                        <hr>
                    </div>
                </div>
                <div class=" row">
                                <div class="col-12 col-md-6 mb-2">
                                    {{ profile_form.first_name.errors }}
                                    <div class="form-floating">
                                        {{ profile_form.first_name }}
                                        <label for=" {{ profile_form.first_name.auto_id }}">First Name</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mb-2">
                                    {{ profile_form.last_name.errors }}
                                    <div class="form-floating">
                                        {{ profile_form.last_name }}
                                        <label for="{{ profile_form.last_name.auto_id }}">Last Name</label>
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-2">
                                {{ profile_form.email.errors }}
                                <div class="form-floating">
                                    {{ profile_form.email }}
                                    <label for="{{ profile_form.email.auto_id }}">Email</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-2">
                                {{ profile_form.number.errors }}
                                <div class="form-floating">
                                    {{ profile_form.number }}
                                    <label for="{{ profile_form.number.auto_id }}">Phone Number</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-2">
                                {{ profile_form.dob.errors }}
                                <div class="form-floating">
                                    {{ profile_form.dob }}
                                    <label for="{{ profile_form.dob.auto_id }}">Date of Birth*</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                {{ profile_form.theme.errors }}
                                <div class="form-floating">
                                    {{ profile_form.theme }}
                                    <label for="{{ profile_form.theme.auto_id }}">Theme</label>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="row">
                            <div class="col-12 text-center">
                                <img src="{{ user.profile.picture.url }}" alt="Profile Picture"
                                    class="rounded-circle border w-25">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12 col-md-6 text-center">
                                <h4>First Name</h4>
                                <p class="card-text">{{ user.profile.first_name }}</p>
                            </div>
                            <div class="col-12 col-md-6 text-center">
                                <h4>Last Name</h4>
                                <p class="card-text">{{ user.profile.last_name }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12 col-md-6 text-center">
                                <h4>Email</h4>
                                <p class="card-text">{{ user.profile.email }}</p>
                            </div>
                            <div class="col-12 col-md-6 text-center">
                                <h4>Phone Number</h4>
                                <p class="card-text">{{ user.profile.number }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12 col-md-6 text-center">
                                <h4>Date Of Birth</h4>
                                <p class="card-text">{{ user.profile.dob }}</p>
                            </div>
                            <div class="col-12 col-md-6 text-center">
                                <h4>Theme</h4>
                                <p class="card-text">{{ user.profile.theme }}</p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-footer remove-pm text-center">
                        {% if edit_mode %}
                        <div class="btn-group remove-pm w-100">
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#site-modal" hx-get="{% url 'delete-profile' %}"
                                hx-target="#site-modal-content">Delete</button>
                            <a href="{{ request.META.HTTP_REFERER|escape }}" class="btn btn-warning">Cancel</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                        {% else %}
                        <p class="remove-pm py-2">Created On: {{ user.profile.created_on }}</p>
                        {% endif %}
                    </div>
        </form>
    </div>
    <div class="col-3 text-end d-none d-md-block">
        {% include "forum/userpanel.html" %}
    </div>
</div>

{% endblock %}