<form action="{% url 'signup' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Signup</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p>{{ user_form.username }}</p>
        <p>{{ user_form.password }}</p>
        <p><input type="password" name="confirm" class="form-control" placeholder="Confirm Password*" required></p>
        <hr>
        <p>{{ profile_form.first_name }}</p>
        <p>{{ profile_form.last_name }}</p>
        <p>{{ profile_form.dob }}</p>
        <hr>
        <p>{{ profile_form.email }}</p>
        <p>{{ profile_form.number }}</p>
        <p>{{ profile_form.picture }}</p>
        <div class="form-check">
            {{ profile_form.dark_mode }}
            <label class="form-check-label" for="dark-mode-input">
                Dark Mode
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <div class="btn-group rounded-corner w-100">
            <button type="submit" name="submit-signup" class="btn btn-primary">Signup</button>
            <button type="button" hx-get="{% url 'login' %}" hx-target="#login-signup-container"
                class="btn btn-primary">Login</button>
        </div>
    </div>
</form>