{% load static %}

<form action="{% url 'signup' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Signup</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="form-floating mb-2">
            {{ user_form.username }}
            <label for="{{ user_form.username.auto_id }}">Username*</label>
        </div>
        {{ user_form.username.errors }}
        <div class="form-floating mb-2">
            {{ user_form.password }}
            <label for="{{ user_form.password.auto_id }}">Password*</label>
        </div>
        <div class="form-floating">
            <input type="password" id="password-confirm" name="confirm" class="form-control"
                placeholder="Confirm Password*" required>
            <label for="password-confim">Confirm Password*</label>
        </div>
        {{ user_form.password.errors }}
        <hr>
        <div class="form-floating mb-2">
            {{ profile_form.first_name }}
            <label for="{{ profile_form.first_name.auto_id }}">First Name</label>
        </div>
        {{ profile_form.first_name.errors }}
        <div class="form-floating mb-2">
            {{ profile_form.last_name }}
            <label for="{{ profile_form.last_name.auto_id }}">Last Name</label>
        </div>
        {{ profile_form.last_name.errors }}
        <div class="form-floating">
            {{ profile_form.dob }}
            <label for="{{ profile_form.dob.auto_id }}">Date of Birth*</label>
        </div>
        <div class="card-text px-2 my-2">
            <p>
                You must be at least 13 years of age to sign up.
            </p>
        </div>
        {{ profile_form.dob.errors }}
        <hr>
        <div class="form-floating mb-2">
            {{ profile_form.email }}
            <label for="{{ profile_form.email.auto_id }}">Email</label>
        </div>
        {{ profile_form.email.errors }}
        <div class="form-floating mb-2">
            {{ profile_form.number }}
            <label for="{{ profile_form.number.auto_id }}">Phone Number</label>
        </div>
        {{ profile_form.number.errors }}
        <hr>
        <div class="mb-2">
            <label for="{{ profile_form.picture.auto_id }}">Profile Picture</label>
            {{ profile_form.picture }}
            <div class="w-25 mt-2 mx-auto">
                <img class="profile-picture-preview rounded-circle border w-100"
                    src="{% static 'images/profile-placeholder.png' %}" alt="Profile Picture">
            </div>
        </div>
        {{ profile_form.picture.errors }}
        <div class=" form-floating mb-2">
            {{ profile_form.theme }}
            <label for="{{ profile_form.theme.auto_id }}">Theme</label>
        </div>
        {{ profile_form.theme.errors }}
    </div>
    <div class="modal-footer">
        <div class="btn-group w-100">
            <button type="submit" name="submit-signup" class="btn btn-primary" hx-post="{% url 'signup' %}"
                hx-target="#site-modal-content">Signup</button>
            <button type="button" hx-get="{% url 'login' %}" hx-target="#site-modal-content"
                class="btn btn-primary">Login</button>
        </div>
    </div>
</form>