/* Global Variables */
:root {
    --green: #7CDC54;
    --green-offset-a: #70c64c;
    --green-offset-b: #63b043;
    --yellow: #ffc107;
    --yellow-offset-a: #e6ae06;
    --yellow-offset-b: #cc9a06;
    --red: #dc3545;
    --red-offset-a: #c6303e;
    --red-offset-b: #b02a37;
}

/* Tag Level Stylings */
body {
    background-color: var(--background);
    color: var(--text);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

nav {
    background-color: var(--navbar-color);
}

/* General Stylings */
.remove-pm {
    padding: 0;
    margin: 0;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--green-offset-b);
    color: var(--text);
}

.select2-selection__rendered {
    color: #000;
}

.select2-results {
    background-color: var(--dropdown-list);
    color: var(--text);
}

.select2-results__option[aria-selected=true] {
    color: #000;
}

.card {
    margin-bottom: 1rem;
    background-color: var(---background);
    color: var(--text);
    border-color: var(--card-header-footer);
}

.card-header,
.card-footer {
    background-color: var(--card-header-footer);
    color: var(--text);
}

.btn-primary {
    background-color: var(--green);
    border-color: var(--green);
    color: #000;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--green-offset-b);
    border-color: var(--green);
    color: #fff;
    box-shadow: 0 0 0 0.15rem var(--green-offset-a);
}

.btn-warning {
    background-color: var(--yellow);
    border-color: var(--yellow);
    color: #000;
}

.btn-warning:hover,
.btn-warning:focus {
    background-color: var(--yellow-offset-b);
    border-color: var(--yellow);
    color: #fff;
    box-shadow: 0 0 0 0.15rem var(--yellow-offset-a);
}

.btn-danger:hover,
.btn-danger:focus {
    background-color: var(--red-offset-b);
    border-color: var(--red);
    color: #fff;
    box-shadow: 0 0 0 0.15rem var(--red-offset-a);
}

.btn-info:hover,
.btn-info:focus {
    background-color: var(--green-offset-b);
    border-color: var(--green);
    color: #fff;
    box-shadow: 0 0 0 0.15rem var(--green-offset-a);
}

.text-main {
    color: var(--text);
}

.text-dark {
    color: #000;
}

.text-red {
    color: var(--red);
}

/* Navbar Specific Stylings */
nav img {
    height: 2.25rem;
}

/* Post List Specific Stylings */
.post-list-post p {
    margin-bottom: 0;
}

.post-list-body {
    max-height: 300px;
    overflow: hidden;
}

.post-list-body img {
    max-width: 100%;
}

/* Comment List Specific Stylings */
.comment-left img {
    border: 2px solid #000;
    max-width: 100px;
}

/* Post Specific Stylings */
.post-header h1 {
    width: 85%;
}

/* User Panel Specific Stylings */
.user-panel-options h5 {
    background-color: var(--card-header-footer);
    color: var(--text);
}

/* Media Queries */
@media (max-width: 768px) {
    nav img {
        height: 1.75rem;
    }
}