/* Tag Level Stylings */
img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* General Stylings */
.remove-pm {
    padding: 0;
    margin: 0;
}

.select2-container {
    width: 100% !important;
}

.card {
    margin-bottom: 1rem;
}

/* Navbar Specific Stylings */
nav div {
    height: 6vw;
    min-height: 20px;
    max-height: 80px;
}

nav img {
    height: 100%;
}

/* Post List Specific Stylings */
.post-list-post h4 {
    margin-bottom: 5px;
}

.post-list-post p {
    margin-bottom: 0;
}

.post-list-body {
    max-height: 300px;
    overflow: hidden;
}

.post-list-body img {
    max-width: 100%;
}

/* Comment List Specific Stylings */
.comment-left img {
    border: 2px solid #000;
    max-width: 100px;
}

/* Post Specific Stylings */
.post-header h1 {
    width: 85%;
}