/* Global Variables */
:root {
    --light-primary: #7ed957;
}

/* Tag Level Stylings */
body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* General Stylings */
.rounded-corner {
    border-radius: 1.5vw;
    margin-top: 0.75vh;
    overflow: hidden;
}

.remove-pm {
    padding: 0;
    margin: 0;
}

/* Navbar Specific Stylings */
.navbar div {
    height: 6vw;
    max-height: 80px;
}

.navbar img {
    height: 100%;
}

.profile-picture img {
    border: 2px solid #000;
}

/* Post List Specific Stylings */
.post-list-post h4 {
    margin-bottom: 5px;
}

.post-list-post p {
    margin-bottom: 0;
}

.post-list-body {
    max-height: 300px;
    overflow: hidden;
}

.post-list-body img {
    max-width: 100%;
}

.post-list-footer div {
    margin: 0 2vw;
}

.post-list-footer div {
    color: var(--light-primary);
    border: none;
    background: transparent;
}

/* Comment List Specific Stylings */
.comment-left img {
    border: 2px solid #000;
    max-width: 100px;
}

/* Post Specific Stylings */
.post-header h1 {
    width: 85%;
}