/* Color Variables */
:root {
    --background: #fff;
    --navbar-color: #e6e6e6;
    --text: #000;
    --text-inv: #fff;
    --card-header-footer: #e6e6e6;
    --input-group-text: #e6e6e6;
    --dropdown-list: #e6e6e6;
    --dropdown-highlight: #000;
}