{% load static %}

<nav class="sticky-top p-2 pt-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 d-block d-md-none d-flex justify-content-start px-0 mt-2">
                {% if request.path != "/" %}
                <a href="{% url 'index' %}" class="btn btn-secondary btn-sm">
                    <i class="fa-solid fa-house"></i>
                </a>
                {% endif %}
            </div>
            <div class="col-12 col-md-3 order-last order-md-first px-0 mt-2">
                <form id="search-form" method="GET" class="input-group">
                    {% if request.path != "/" %}
                    <a href="{% url 'index' %}" class="btn btn-secondary input-group-item d-none d-md-inline">
                        <i class="fa-solid fa-house"></i>
                    </a>
                    {% else %}
                    <button type="button" id="filter-view-toggle"
                        class="btn btn-secondary input-group-item d-block d-md-none">
                        <i class="fa-solid fa-caret-down"></i>
                    </button>
                    {% endif %}
                    <input type="text" name="q" placeholder="Search..." class="form-control">
                    <button type="submit" class="btn btn-primary input-group-text">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <div class="col-6 mt-2">
                <a href="{% url 'index' %}">
                    <img class="d-none d-md-block mx-auto" src="{% static 'images/logo-400x68.png' %}"
                        alt="Guild Of Geeks Logo">
                    <img class="d-block d-md-none mx-auto" src="{% static 'images/logo-98x68.png' %}"
                        alt="Guild Of Geeks Logo">
                </a>
            </div>
            <div class="col-3 d-flex justify-content-end dropdown px-0 mt-2">
                {% if user.is_authenticated %}
                <button type="button" class="btn btn-primary rounded-circle border h-100 overflow-hidden p-0"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ user.profile.picture.url }}" alt="Profile Picture">
                </button>
                <ul class="dropdown-menu dropdown-menu-end text-end py-0">
                    <li>
                        <a href="{% url 'profile' 'view' %}" class="list-group-item btn-info text-end">My Profile <i
                                class="fa-solid fa-user"></i></a>
                    </li>
                    <li>
                        <h6 class="dropdown-header">Help / Info <i class="fa-solid fa-info"></i></h6>
                    </li>
                    <li>
                        <a href="{% url 'help' %}" class="list-group-item btn-info text-end">Help / Info <i
                                class="fa-regular fa-circle-question"></i></a>
                    </li>
                    <li>
                        <a href="{% url 'contact-us' %}" class="list-group-item btn-info text-end">Contact Us <i
                                class="fa-regular fa-envelope-open"></i></a>
                    </li>
                    {% if user.is_staff %}
                    <li>
                        <h6 class="dropdown-header">Admin Controls <i class="fa-solid fa-hammer"></i></h6>
                    </li>
                    <li>
                        <a href="/admin" class="list-group-item btn-info text-end">Open Admin Panel <i
                                class="fa-solid fa-screwdriver"></i></a>
                    </li>
                    {% endif %}
                    <li>
                        <h6 class="dropdown-header">Account Management <i class="fa-solid fa-user-gear"></i></h6>
                    </li>
                    <li>
                        <button type="button" class="list-group-item btn-info text-end w-100" data-bs-toggle="modal"
                            data-bs-target="#site-modal" hx-get="{% url 'password' %}"
                            hx-target="#site-modal-content">Update
                            Password <i class="fa-regular fa-pen-to-square"></i></button>
                    </li>
                    <li>
                        <button type="button" class="list-group-item btn-danger text-end w-100" data-bs-toggle="modal"
                            data-bs-target="#site-modal" hx-get="{% url 'delete-account' %}"
                            hx-target="#site-modal-content">Delete
                            Account <i class="fa-regular fa-trash-can"></i></button>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}" class="btn btn-danger w-100"><i class="fa-solid fa-door-open"></i>
                            Logout</a>
                    </li>
                </ul>
                {% else %}
                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#site-modal"
                    hx-get="{% url 'login' %}" hx-target="#site-modal-content">Login / Signup</button>
                {% endif %}
            </div>
        </div>
    </div>
</nav>